* {

}

body {
    margin:20px;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    border: 2px solid green;
    justify-content: center;
    align-items: center;
    align-content: center;
    display:flex;
    background-color: white;
    padding: 5px;
    height:100%;
}

form {
    padding: 10px;
    border: 1px solid red;
}

.box {
    background-color:white;
    color: black;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 150px;
    border-radius: 1px;
    border: 1px solid red;
    font-size: x-small;
    width:325px;

}

input {
    padding-block-start: 1;
    width:275px;
}
ul {
    list-style-type:symbols("\25BA");
    color: blue;
}

a {
    text-decoration:none;
    color:blue;
}

#sign-on {
    color:black;
    background-color: rgb(245, 210, 10);
    width:275px;
    border: 1px solid darkgray;
    font-size:xx-small;
    height:25px;
    
}
#forgot {
    text-align: end;
    width:100%;
}

.a {
    font-size:large;
    /*width:inherit;*/
    grid-column: 1 / 2;
}    
.b {
    font-size:x-small;
    grid-column: 1 / 2;
    
   
}

.c {
    font-size:x-small;
    grid-column-start: 1;
    border: 2px solid yellow;
   
}

.d {
    font-size:x-small;
    grid-column-start: 2;
    border: 2px solid blue;

}
